{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
    <dl><h2>Obtenir le mail d'un élève</h2><br><p>Option non sensible au format des caractères (majuscule/minuscule)</p>
     <form action="{{ url_for('mail_entry') }}" method="post" class="remove_entry">
      <dt>Nom de l'élève : 
      <dd><input type="text" name="nom"><br/><br>
      <dt>Prénom de l'élève :
      <dd><input type="text" name="prenom"><br><br/>
      <dt><input type="submit" value="Obtenir le mail">
    </form> 

  {% else %}
  	<h2>Veuillez vous identifier pour accéder au panel de gestion.</h2>
  {% endif %}
{% endblock %}